    /*
    |--------------------------------------------------------------------------
    | MEDIA QUERIES 
    |-------------------------------------------------------------------------- 

    CONTENT BREAKPOINT + 15px scrollbar  - FLuid 
    --------------------------------------------------------------------------- */
@media only screen and (max-width: 708px) {
     /**  PRESETS */
    .nomob {
        display: none !important;
    }
    .showmob {
        display: block !important;
        max-height: none !important;
        font-size: 12px !important;
    }
    .container {
        width: 100% !important;
        padding: 0;
    }
    .center .container__td {
        text-align: center!important;
    }
    .max-width-none {
        max-width: none !important;
    }
    .nopad {
        padding: 0 !important;
    }
    /**  BG MOD */
    #bg-text-container .content {
        width: 90% !important;
    }
    /**  2COL MOD img|txt fluid */
    .mod-2col-fluid .col-l {
        width: 20% !important;
    }
    .mod-2col-fluid .col-r {
        width: 80% !important;
    }
    .mod-2col-fluid .col-r__td {
        padding: 0 !important;
    }
    .mod-2col-fluid .col-l__td {
        padding: 0 !important;
    }
    .mod-2col-fluid .col-l__td {
        padding: 0 !important;
    }
    .mod-2col-fluid img {
        width: 70% !important;
        max-width: 70% !important;
    }
     /**  2COL MOD img|txt stack */
    .mod-2col-stack .button a {
        border-left:  0 !important;
        border-right:  0 !important;
        width:  100% !important;
    }
     /** 3COL BG - padding controls the height of the bg container - adjust text position*/
    #bg-3col-1 .p1,
    #bg-3col-2 .p1,
    #bg-3col-3 .p1 {
        padding:80px 0 30px;
}

}


/* MODULE BREAKPOINT 2 - 2COL Stack 
      --------------------------------------------------------------------------- */
@media only screen and (max-width: 580px) {
    .container {
        width: 100% !important;
        padding: 0;
    }
    .center .container td {
        text-align: center !important;
    }
    u + .body .wrapper {
        width: 100% !important;
        width: 100vw !important;
    }
    .width-100percent {
        width: 100% !important;
    }
    /** BG overlap collapse - to view more of bg image on mobile*/
    #bg-overlap {
        padding-top: 0 !important;
        height: 0 !important;
    }
    /** 3COL FLuid - extend top pad to make up for collapsed BG overlap above*/
    .mod-2col-fluid .container__td {
        padding-top: 40px !important;
    } 
    /** 3COL BG - padding controls height of bg col - adjust image position as preferred */
    #bg-3col-1  { 
        background-position:center !important;
    }
    #bg-3col-2 { 
        background-position:bottom !important;
    }
    #bg-3col-3 { 
        background-position:center !important;
    }
    .h1
    {
        font-size: 28px !important;
        line-height: 35px !important;
    }
    .p1
    {
        font-size: 15px !important;
        line-height: 24px !important;
    }


}

